@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>My APP ASP.NET</h1>
    <p class="lead">Esta Web APP fue creada para mostrar mis conocimientos ASP.NET Framework (MVC), es una pequeña aplicacion para administrar una biblioteca, se pueden agregar libros, socios y administrar las prestaciones de los mismos, para esta APP se uso AJAX, JavaScripts, HTML, y CSS, y para la parte de Base de Datos se uso SQL Server Mannager Studio, si bien esteticamente le falta mucho por trabajar la idea es mostrar la funcionabilidad correcta de cada modelo y botones, sientete libre de jugar un poco con ella...</p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

@*<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>*@
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Styles.Render("~/Content/Site.css")
    @Scripts.Render("~/bundles/modernizr")

}